.App {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(238, 230, 230);
  }
  
  .titre {
    text-align: center;
    background-color: #f32020;
  }
  
  .movie_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-style: double;
  }
  
  .poster {
    height: 370px;
    width: 300px;
  }
  h3 {
    color: #f32020;
    text-align: center;
  }
  .synopsis {
    color: #f32020;
  }
  .movie_card {
    border-style: double;
    position: relative;
    width: 200px;
    background-color: rgb(0, 0, 0);
    margin: 1em 0.5em;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
  }
  .movie_card:hover {
    transform: scale(1.5);
    transition: all 0.4s;
  }
  .recherche {
    text-align: end;
    background-color: black;
  }
  .rch {
    background-color: #f32020;
  }
  input {
    padding: 15px;
    margin-right: 20px;
    margin-top: 10px;
  }
  .contenant {
    background-color: black;
    width: 300px;
  }
  .contenu {
    background-color: #d10000;
    display: block;
    background: #f32020;
    color: #000;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 2px;
    width: 100%;
  }
  
  .sub {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .sub:hover {
    transform: scale(1.05);
    transition: all 0.4s;
    background-color: #f32020;
  }
  